.vscode
data
test_set
data_set
__pycache*
aggregated/*.csv
plots/*
results.json
absa_data/*
.idea/*
*.pickle
dranziera_protocol.zip
fasttext_tool/fastText*
fasttext_tool/data.*
fasttext_tool/readme.txt
fasttext_tool/model.bin
*/*.zip